@import 'components/calendar';

@import 'components/visibility';

@import 'components/react-calendar';

.calendar-plus {
	@include react-calendar-default-styles;
	@include calendar-plus-visibility-classes;
	@include calendar-plus-calendar;
}

@import 'components/templates';
@import 'components/a8e-calendar';