// Screen reader visibility helper
@mixin element-invisible {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

@mixin calendar-plus-visibility-classes {
  // Screen reader visibility class
  // Used in React calendar close button
  .show-for-sr {
    @include element-invisible;
  }
}
