body .calendarp *, body .calendarp *:after, body .calendarp *:before {
  box-sizing: border-box;
}

.calendarp {

  h1 {
    font-size: 33px;
  }

  h2 {
    font-size: 24px;
  }

  div,
  dl,
  dt,
  dd,
  ul,
  ol,
  li,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  pre,
  form,
  p,
  blockquote,
  th,
  td {
    margin: 0;
    padding: 0;
  }

  .event-meta {
    font-size: 13px;

    .event-meta-item {
      margin-bottom: 10px;
      font-style: italic;

      .dashicons {
        font-size: 13px;
        width: 18px;
        height: 13px;
        vertical-align: middle;
        line-height: 10px;
      }
    }
  }

  .panel {
    border-style: solid;
    border-width: 1px;
    border-color: #d8d8d8;
    margin-bottom: 1.53846rem;
    padding: 1.53846rem;
    background: #f2f2f2;
    color: #333333;

    & > :last-child {
      margin-bottom: 0;
    }
  }

  .event-header,
  .event-content,
  .event-footer {
    width: 100%;
    padding: 10px;
  }

  .event-content {
    font-size: 13px;
  }

  &.calendarp-single {
	/**
	 * On certain themes, such as Twenty Fifteen, the breadcrumbs end up
	 * being below the actual event content. This should fix that.
	 *
	 * Fixes: https://app.asana.com/0/1156682619745891/1156682619745891/
	 */
	.calendarp-breadcrumbs {
      overflow: auto;
	}
    .event-header .event-location {
      margin-top: 2rem;
    }

    .event-inner-content {
      font-size: 16px;
    }

    .event-location-description {
      font-size:13px;
      margin:1rem 0;
    }
  }
}

@media only screen and (min-width: 78.84615em) {
  .calendarp {
    .large-12 {
      width: 100%;
    }

    .column,
    .columns {
      position: relative;
      padding-left: 1.15385rem;
      padding-right: 1.15385rem;
      float: left;
    }

    .row {
      clear:both;
    }
  }
}

@media only screen and (min-width: 49.30769em) {
  .calendarp {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      line-height: 1.4;
      color: #222222;
      font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
      font-style: normal;
      font-weight: normal;
      line-height: 1.4;
      margin-bottom: 0.5rem;
      margin-top: 0.2rem;
      text-rendering: optimizeLegibility;
    }
  }
}
